@charset "utf-8";


@import url("fontawesome-4.3.0.min.css");
@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0, .row0 a{}
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}



/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{padding:50px 0;}

#header #logo{}
#header #logo h1{margin:0; padding:0; font-size:26px; font-variant:small-caps;}

#header #qct{margin-top:5px;}
/*SLIDER
--------------------------------------------------------------------------------------------------------------*/



/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:100px 0 150px;}

#pageintro *{margin:0;}
#pageintro span{display:inline-block; padding:10px;}
#pageintro p{font-size:22px; line-height:normal;}
#pageintro p .btn{margin-top:30px; font-size:1rem;}


/* Elements
--------------------------------------------------------------------------------------------------------------- */
#elements{padding:50px 0;}

#elements p{margin:0 0 15px 0; font-size:26px; line-height:normal;}

/*-----------------------------------------------------------------------------------------------------------*/

#bg {
  position:relative;
  height:650px;
  width:2500px;
}
#bg img {
  position:absolute;
  left:0;
   
}

.img-circle {
    border-radius: 50%;
}

@-webkit-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {

 opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

#bg img {
  -webkit-animation-name: imgFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: imgFade;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  -o-animation-name: imgFade;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 8s;

  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

#bg img:nth-of-type(1) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#bg img:nth-of-type(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
#bg img:nth-of-type(3) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#bg img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}






















/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

.font-md{font-size:1.2rem;}

.featured{display:block; width:100%; border:1px solid; text-align:center;}
.featured .ft-text{display:block; padding:50px 30px;}
.featured figure{position:relative;}
.featured figure figcaption{position:absolute; bottom:0; width:100%; padding:20px; opacity:0;}
.featured figure:hover figcaption{opacity:1;}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Shout
--------------------------------------------------------------------------------------------------------------- */
#shout{padding:180px 0; font-size:16px;}

#shout *{margin:0; padding:0;}
#shout .heading{font-size:32px;}


/* Newsletter
--------------------------------------------------------------------------------------------------------------- */
#newsletter{padding:80px 0;}

#newsletter input, #newsletter button{padding:10px 12px; border:1px solid; border-radius:5px; background-clip:padding-box;}
#newsletter input{display:inline-block; min-width:400px;}
#newsletter button{padding:9px 18px; font-weight:bold; text-transform:uppercase; cursor:pointer;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:40px 0;}

#footer .title{margin:0 0 15px 0; padding:0 0 8px 0; border-bottom:1px solid; font-size:18px; text-transform:capitalize;}

#footer .linklist li{margin-bottom:10px;}
#footer .linklist li:last-child{margin-bottom:0;}

#footer .smallfont{font-size:.8em; margin:0;}


/* Social Block
--------------------------------------------------------------------------------------------------------------- */
#socialblock{}

#socialblock .faico li{display:block; float:left; width:20%; margin:0; padding:0;}
#socialblock .faico a{display:block; width:100%; height:80px; line-height:80px; font-size:30px; text-align:center;}

#socialblock .faico a{color:#666666; background-color:#333333;}
#socialblock .faico a:hover{color:#FFFFFF;}

#socialblock .faicon-bitcoin:hover{background-color:#F7931A;}
#socialblock .faicon-dribble:hover{background-color:#EA4C89;}
#socialblock .faicon-dropbox:hover{background-color:#3D9AE8;}
#socialblock .faicon-facebook:hover{background-color:#3B5998;}
#socialblock .faicon-flickr:hover{background-color:#FF0084;}
#socialblock .faicon-google-plus:hover{background-color:#DB4A39;}
#socialblock .faicon-instagram:hover{background-color:#3F729B;}
#socialblock .faicon-linkedin:hover{background-color:#0E76A8;}
#socialblock .faicon-pinterest:hover{background-color:#C8232C;}
#socialblock .faicon-rss:hover{background-color:#EE802F;}
#socialblock .faicon-skype:hover{background-color:#00AFF0;}
#socialblock .faicon-tumblr:hover{background-color:#34526F;}
#socialblock .faicon-twitter:hover{background-color:#00ACEE;}
#socialblock .faicon-vk:hover{background-color:#4E658E;}
#socialblock .faicon-youtube:hover{background-color:#C4302B;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
.faico a, #mainav *, figcaption, #backtotop{transition:all .3s ease-in-out;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
.padbot{padding-bottom:50px;}
#mainav{border-bottom:3px solid;} 
#mainav ul.clear{margin-bottom:-3px;}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:160px; text-transform:none;}
#mainav ul ul ul{left:160px; top:0;}
#mainav li{display:inline-block; position:relative; float:left; margin:0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 20px; border:solid; border-width:0 0 3px 0;}
#mainav li li a{}
#mainav .drop{}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px; border-width:0 0 1px 0;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:15px 0;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; border-radius:5px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; float:left; margin:0 2px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}

.faico a{display:inline-block; width:40px; height:40px; line-height:40px; font-size:20px; text-align:center;}

.faico a{color:#FFFFFF;}
.faico a:hover{color:#FFFFFF; background-color:#CCCCCC;}

.faicon-bitcoin{background-color:#F7931A;}
.faicon-dribble{background-color:#EA4C89;}
.faicon-dropbox{background-color:#3D9AE8;}
.faicon-facebook{background-color:#3B5998;}
.faicon-flickr{background-color:#FF0084;}
.faicon-google-plus{background-color:#DB4A39;}
.faicon-instagram{background-color:#3F729B;}
.faicon-linkedin{background-color:#0E76A8;}
.faicon-pinterest{background-color:#C8232C;}
.faicon-rss{background-color:#EE802F;}
.faicon-skype{background-color:#00AFF0;}
.faicon-tumblr{background-color:#34526F;}
.faicon-twitter{background-color:#00ACEE;}
.faicon-vk{background-color:#4E658E;}
.faicon-youtube{background-color:#C4302B;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#BBBBBB; background-color:#000000;}
a{color:#BE9145;}
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
.overlay{color:inherit; background-color:rgba(0,0,0,.5); background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpiYGBgePz//38GRhABAgABBgBFTAbfCBNE2AAAAABJRU5ErkJggg==");}
.btn{color:#FFFFFF; background-color:#BE9145;}


/* Rows */
.row0, .row0 a{}
.row1, .row1 a{}
.row2{color:#888888; background-color:#F4F4F4;}
.row3{color:#888888; background-color:#FFFFFF;}
.row4{color:#BBBBBB; background-color:#222222;}
.row5, .row5 a{color:#BBBBBB; background-color:#000000;}
.row100{color:#FFFFFF; background-color:#000000;}


/* Header */
#header a{color:inherit;}


/* Page Intro */
	


/* Content Area */
.featured{border-color:#D7D7D7;}
.featured figure:hover figcaption{color:#FFFFFF; background:rgba(0,0,0,.5);}


/* Newsletter */
#newsletter input{border-color:#D7D7D7;}
#newsletter button{color:#FFFFFF; background-color:#BE9145; border-color:#BE9145;}


/* Footer */
#footer .title{border-color:#000000;}


/* Navigation */
#mainav{color:#FFFFFF; background-color:rgba(190,145,69,.5); border-color:#BE9145;}
#mainav li a{color:inherit; border-color:#BE9145;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#FFFFFF; background-color:#BE9145; border-color:#FFFFFF;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#BE9145;}
#mainav form select{color:#FFFFFF; background-color:#BE9145; border-color:#BE9145;}

#breadcrumb a{color:#888888; background-color:inherit;}
#breadcrumb li:last-child a{color:#BE9145;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#BE9145;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#BE9145;}

#backtotop{color:#FFFFFF; background-color:#BE9145;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Smartphone + Tablet
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:180px) and (max-width:750px) {
	.imgl, .imgr, .imgc{display:inline-block; border-radius: 50%; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}
}

@media screen and (min-width:180px) and (max-width:900px) {
	#header, #mainav, #pageintro, #breadcrumb, #elements, .container, #shout, #newsletter, #footer, #copyright{max-width:95%;}

	#header{}

	#mainav{border:none;}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#pageintro{}

	#breadcrumb{}

	#elements{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#shout{}

	#newsletter{}
	#newsletter input{min-width:200px;}

	#footer{}

	#socialblock{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
	#header, #mainav, #pageintro, #breadcrumb, #elements, .container, #shout, #newsletter, #footer, #copyright{max-width:978px;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	#newsletter input{display:block; min-width:0; width:100%; margin-bottom:5px;}
}
