

/** CLASSES **/
.no-select, .page-wrap .accordians-div .accordian-head, .page-wrap .accordians-div .accordian-faq-content .faq-ques, .page-wrap .accordians-div .about-accordian-head {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.page-wrap {
  width: 100%;
  height: auto;
  clear: both;
  overflow: hidden;
  background: #f6f6f6;
  /** RATE CARD DROPDOWNS **/
  /************************/ }
  .page-wrap .heading-type1 {
    width: 100%;
    text-align: center;
    font-family: 'BloggerSans';
    font-size: 26px;
    font-size: 2.6rem; }
  .page-wrap .page-breif {
    width: 100%;
    text-align: center;
    font-family: 'BloggerSans';
    font-size: 16px;
    font-size: 1.6rem; }
  .page-wrap .accordians-div {
    /**********************/
    /********************/
    /** About **/
    /**********************/
    /**RATE CARD **/
    /*******************/
    /********************/ }
    .page-wrap .accordians-div .transition, .page-wrap .accordians-div ul li i:before, .page-wrap .accordians-div ul li i:after, .page-wrap .accordians-div .accordian-faq-content, .page-wrap .accordians-div .accordian-faq-content ul .faq-li i:before, .page-wrap .accordians-div .accordian-faq-content ul .faq-li i:after, .page-wrap .accordians-div .about-ul .about-li i:before, .page-wrap .accordians-div .about-ul .about-li i:after, .page-wrap .accordians-div .rate-card-dropdowns-div .dropdown .i-open:before, .page-wrap .rate-card-dropdowns-div .dropdown .accordians-div .i-open:before, .page-wrap .accordians-div .rate-card-dropdowns-div .dropdown .i-open:after, .page-wrap .rate-card-dropdowns-div .dropdown .accordians-div .i-open:after, .page-wrap .accordians-div .rate-card-dropdowns-div .dropdown .i-close:before, .page-wrap .rate-card-dropdowns-div .dropdown .accordians-div .i-close:before, .page-wrap .accordians-div .rate-card-dropdowns-div .dropdown .i-close:after, .page-wrap .rate-card-dropdowns-div .dropdown .accordians-div .i-close:after {
      transition: all 0.25s ease-in-out; }
    .page-wrap .accordians-div .flipIn, .page-wrap .accordians-div ul li, .page-wrap .accordians-div .accordian-faq-content ul .faq-li, .page-wrap .accordians-div .about-ul .about-li {
      animation: flipdown 0.5s ease both; }
    .page-wrap .accordians-div .no-select, .page-wrap .accordians-div .accordian-head, .page-wrap .accordians-div .accordian-faq-content .faq-ques, .page-wrap .accordians-div .about-accordian-head {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .page-wrap .accordians-div .accordian-head {
      display: block;
      margin: 0;
      cursor: pointer;
      padding-left: 5.5%;
      padding-right: 5.5%;
      border-bottom: 1px solid #ccc;
      background: #fff; }
      .page-wrap .accordians-div .accordian-head h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'BloggerSans';
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 2.4;
        font-weight: 400;
        color: #009688; }
    .page-wrap .accordians-div ul {
      list-style: none;
      perspective: 900;
      padding: 0;
      margin: 0; }
      .page-wrap .accordians-div ul li {
        position: relative;
        padding: 0;
        margin: 0;
        padding-bottom: 0px;
        padding-top: 0px; }
        .page-wrap .accordians-div ul li:last-of-type {
          padding-bottom: 0; }
        .page-wrap .accordians-div ul li i {
          position: absolute;
          transform: translate(-6px, 0);
          margin-top: 24px;
          right: 5.5%; }
          .page-wrap .accordians-div ul li i:before, .page-wrap .accordians-div ul li i:after {
            content: "";
            position: absolute;
            background-color: #555;
            width: 3px;
            height: 9px; }
          .page-wrap .accordians-div ul li i:before {
            transform: translate(-2px, 0) rotate(45deg); }
          .page-wrap .accordians-div ul li i:after {
            transform: translate(2px, 0) rotate(-45deg); }
        .page-wrap .accordians-div ul li input[type=checkbox].input1 {
          position: absolute;
          cursor: pointer;
          width: 100%;
          height: 100%;
          margin: 0;
          z-index: 1;
          opacity: 0; }
          .page-wrap .accordians-div ul li input[type=checkbox].input1:hover {
            -webkit-tap-highlight-color: transparent; }
          .page-wrap .accordians-div ul li input[type=checkbox].input1:focus {
            -webkit-tap-highlight-color: transparent; }
          .page-wrap .accordians-div ul li input[type=checkbox].input1:active {
            -webkit-tap-highlight-color: transparent; }
          .page-wrap .accordians-div ul li input[type=checkbox].input1:checked ~ .accordian-head h3 {
            color: #555; }
          .page-wrap .accordians-div ul li input[type=checkbox].input1:checked ~ .accordian-content {
            margin-top: 0;
            max-height: 0;
            opacity: 0;
            transform: translate(0, 50%); }
          .page-wrap .accordians-div ul li input[type=checkbox].input1:checked ~ .accordian-faq-content {
            margin-top: 0;
            max-height: 0;
            opacity: 0;
            transform: translate(0, 50%); }
          .page-wrap .accordians-div ul li input[type=checkbox].input1:checked ~ i:before {
            transform: translate(2px, 0) rotate(45deg); }
          .page-wrap .accordians-div ul li input[type=checkbox].input1:checked ~ i:after {
            transform: translate(-2px, 0) rotate(-45deg); }
    .page-wrap .accordians-div .accordian-faq-content {
      position: relative;
      overflow: hidden;
      background: #f6f6f6;
      opacity: 1;
      transform: translate(0, 0);
      z-index: 2; }
      .page-wrap .accordians-div .accordian-faq-content .faq-ques {
        display: block;
        margin: 0;
        cursor: pointer; }
        .page-wrap .accordians-div .accordian-faq-content .faq-ques .add-button {
          float: left; }
          .page-wrap .accordians-div .accordian-faq-content .faq-ques .add-button img {
            width: 20px;
            height: 20px; }
          .page-wrap .accordians-div .accordian-faq-content .faq-ques .add-button .minus {
            display: block; }
          .page-wrap .accordians-div .accordian-faq-content .faq-ques .add-button .plus {
            display: none; }
        .page-wrap .accordians-div .accordian-faq-content .faq-ques h4 {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 40px;
          font-family: 'BloggerSans';
          color: #009688;
          font-size: 18px;
          font-size: 1.8rem;
          font-weight: 400; }
      .page-wrap .accordians-div .accordian-faq-content .faq-ans {
        margin-top: 10px;
        margin-left: 40px;
        font-family: 'BloggerSans';
        color: #777;
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: 400; }
      .page-wrap .accordians-div .accordian-faq-content ul {
        list-style: none;
        perspective: 900;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #ccc; }
        .page-wrap .accordians-div .accordian-faq-content ul .faq-li {
          position: relative;
          width: 89%;
          margin: 0 auto;
          padding: 0;
          padding-top: 14px;
          padding-bottom: 14px;
          border-bottom: 1px solid #ccc; }
          .page-wrap .accordians-div .accordian-faq-content ul .faq-li:nth-of-type(1) {
            animation-delay: 0.5s; }
          .page-wrap .accordians-div .accordian-faq-content ul .faq-li:nth-of-type(2) {
            animation-delay: 0.75s; }
          .page-wrap .accordians-div .accordian-faq-content ul .faq-li:nth-of-type(3) {
            animation-delay: 1.0s; }
          .page-wrap .accordians-div .accordian-faq-content ul .faq-li:last-of-type {
            border: 0; }
          .page-wrap .accordians-div .accordian-faq-content ul .faq-li i {
            position: absolute;
            transform: translate(-6px, 0);
            margin-top: 37px;
            right: 5.5%; }
            .page-wrap .accordians-div .accordian-faq-content ul .faq-li i:before, .page-wrap .accordians-div .accordian-faq-content ul .faq-li i:after {
              content: "";
              position: absolute;
              background-color: #555;
              width: 3px;
              height: 9px; }
            .page-wrap .accordians-div .accordian-faq-content ul .faq-li i:before {
              transform: translate(-2px, 0) rotate(45deg); }
            .page-wrap .accordians-div .accordian-faq-content ul .faq-li i:after {
              transform: translate(2px, 0) rotate(-45deg); }
          .page-wrap .accordians-div .accordian-faq-content ul .faq-li input[type=checkbox].input2 {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 100%;
            margin: 0;
            z-index: 1;
            opacity: 0; }
            .page-wrap .accordians-div .accordian-faq-content ul .faq-li input[type=checkbox].input2:hover {
              -webkit-tap-highlight-color: transparent; }
            .page-wrap .accordians-div .accordian-faq-content ul .faq-li input[type=checkbox].input2:focus {
              -webkit-tap-highlight-color: transparent; }
            .page-wrap .accordians-div .accordian-faq-content ul .faq-li input[type=checkbox].input2:active {
              -webkit-tap-highlight-color: transparent; }
            .page-wrap .accordians-div .accordian-faq-content ul .faq-li input[type=checkbox].input2:checked ~ .faq-ques h4 {
              color: #777; }
            .page-wrap .accordians-div .accordian-faq-content ul .faq-li input[type=checkbox].input2:checked ~ .faq-ques .add-button .minus {
              display: none; }
            .page-wrap .accordians-div .accordian-faq-content ul .faq-li input[type=checkbox].input2:checked ~ .faq-ques .add-button .plus {
              display: block; }
            .page-wrap .accordians-div .accordian-faq-content ul .faq-li input[type=checkbox].input2:checked ~ .faq-ans {
              margin-top: 0;
              max-height: 0;
              opacity: 0;
              transform: translate(0, 50%); }
            .page-wrap .accordians-div .accordian-faq-content ul .faq-li input[type=checkbox].input2:checked ~ i:before {
              transform: translate(2px, 0) rotate(45deg); }
            .page-wrap .accordians-div .accordian-faq-content ul .faq-li input[type=checkbox].input2:checked ~ i:after {
              transform: translate(-2px, 0) rotate(-45deg); }
    .page-wrap .accordians-div .about-accordian-head {
      display: table;
      margin: 0;
      width: 100%;
      height: 57px;
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      padding-left: 5.5%;
      padding-right: 5.5%;
      border-bottom: 1px solid #ccc;
      background: #fff; }
      .page-wrap .accordians-div .about-accordian-head .add-button {
        display: table-cell;
        vertical-align: middle;
        width: 20px; }
        .page-wrap .accordians-div .about-accordian-head .add-button img {
          width: 20px;
          height: 20px; }
        .page-wrap .accordians-div .about-accordian-head .add-button .minus {
          display: block; }
        .page-wrap .accordians-div .about-accordian-head .add-button .plus {
          display: none; }
      .page-wrap .accordians-div .about-accordian-head .heading-span {
        display: table-cell;
        vertical-align: middle;
        width: calc(100% - 20px); }
        .page-wrap .accordians-div .about-accordian-head .heading-span h3 {
          margin-top: 0;
          margin-bottom: 0;
          padding-left: 30px;
          font-family: 'BloggerSans';
          font-size: 24px;
          font-size: 2.4rem;
          font-weight: 400;
          color: #009688; }
      .page-wrap .accordians-div .about-accordian-head .svg_icon {
        clear: both;
        overflow: hidden; }
        .page-wrap .accordians-div .about-accordian-head .svg_icon svg {
          margin-top: 13px;
          height: 30px;
          width: 30px;
          color: #999;
          fill: currentColor; }
    .page-wrap .accordians-div .about-accordian-content {
      padding: 20px 5.5%;
      font-family: 'BloggerSans';
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 400;
      color: #777;
      border-bottom: 1px solid #ccc; }
      .page-wrap .accordians-div .about-accordian-content .description-head {
        display: block;
        width: 100%;
        font-family: 'BloggerSans';
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 600;
        color: #444; }
    .page-wrap .accordians-div .rate-card-content {
      padding: 20px 5.5%;
      font-family: 'BloggerSans';
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 400;
      color: #777;
      background: #fff; }
      .page-wrap .accordians-div .rate-card-content .row {
        display: block;
        width: 100%;
        clear: both;
        overflow: hidden;
        margin-top: 15px; }
        .page-wrap .accordians-div .rate-card-content .row:first-child {
          margin-top: 0; }
        .page-wrap .accordians-div .rate-card-content .row .left-col {
          float: left;
          width: 50%;
          display: inline-block;
          text-align: left;
          font-family: 'BloggerSans';
          font-size: 16px;
          font-size: 1.6rem;
          line-height: 1.5;
          font-weight: 400;
          color: #777; }
        .page-wrap .accordians-div .rate-card-content .row .right-col {
          float: right;
          width: 50%;
          display: inline-block;
          text-align: right;
          font-family: 'BloggerSans';
          font-size: 16px;
          font-size: 1.6rem;
          line-height: 1.5;
          font-weight: 400;
          color: #009688; }
    .page-wrap .accordians-div .about-ul {
      list-style: none;
      perspective: 900;
      padding: 0;
      margin: 0; }
      .page-wrap .accordians-div .about-ul .about-li {
        position: relative;
        padding: 0;
        margin: 0;
        padding-bottom: 0px;
        padding-top: 0px; }
        .page-wrap .accordians-div .about-ul .about-li:last-of-type {
          padding-bottom: 0; }
        .page-wrap .accordians-div .about-ul .about-li i {
          position: absolute;
          transform: translate(-6px, 0);
          margin-top: 24px;
          right: 5.5%; }
          .page-wrap .accordians-div .about-ul .about-li i:before, .page-wrap .accordians-div .about-ul .about-li i:after {
            content: "";
            position: absolute;
            background-color: #555;
            width: 3px;
            height: 9px; }
          .page-wrap .accordians-div .about-ul .about-li i:before {
            transform: translate(-2px, 0) rotate(45deg); }
          .page-wrap .accordians-div .about-ul .about-li i:after {
            transform: translate(2px, 0) rotate(-45deg); }
        .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2 {
          position: absolute;
          cursor: pointer;
          width: 100%;
          height: 100%;
          margin: 0;
          z-index: 1;
          opacity: 0; }
          .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:hover {
            -webkit-tap-highlight-color: transparent; }
          .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:focus {
            -webkit-tap-highlight-color: transparent; }
          .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:active {
            -webkit-tap-highlight-color: transparent; }
          .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:checked ~ .about-accordian-head .heading-span h3 {
            color: #555; }
          .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:checked ~ .about-accordian-head .add-button .minus {
            display: none; }
          .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:checked ~ .about-accordian-head .add-button .plus {
            display: block; }
          .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:checked ~ .about-accordian-content {
            padding: 0;
            margin-top: 0;
            max-height: 0;
            opacity: 0;
            transform: translate(0, 50%); }
          .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:checked ~ .rate-card-accordian-head {
            background: #f6f6f6; }
            .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:checked ~ .rate-card-accordian-head .heading-span h3 {
              color: #555; }
          .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:checked ~ .rate-card-content .row {
            display: block;
            width: 100%; }
            .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:checked ~ .rate-card-content .row .left-col {
              height: 0; }
            .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:checked ~ .rate-card-content .row .right-col {
              height: 0; }
          .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:checked ~ i:before {
            transform: translate(2px, 0) rotate(45deg); }
          .page-wrap .accordians-div .about-ul .about-li input[type=checkbox].input2:checked ~ i:after {
            transform: translate(-2px, 0) rotate(-45deg); }
@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg); } }
  .page-wrap .rate-card-dropdowns-div {
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #ccc; }
    .page-wrap .rate-card-dropdowns-div .dropdown {
      width: calc(50% - 1px);
      float: left;
      background: #fff;
      border-right: 1px solid #ccc; }
      .page-wrap .rate-card-dropdowns-div .dropdown:last-child {
        border-right: none; }
      .page-wrap .rate-card-dropdowns-div .dropdown .dropdown-add {
        font-family: 'BloggerSans';
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 400;
        color: #555;
        text-transform: capitalize;
        text-align: center; }
        .page-wrap .rate-card-dropdowns-div .dropdown .dropdown-add .dropdown-product a {
          cursor: pointer; }
        .page-wrap .rate-card-dropdowns-div .dropdown .dropdown-add .dropdown-city a {
          cursor: pointer; }
        .page-wrap .rate-card-dropdowns-div .dropdown .dropdown-add .dropdown-toggle {
          cursor: pointer; }
      .page-wrap .rate-card-dropdowns-div .dropdown .select-span {
        width: 100%;
        cursor: pointer;
        display: table;
        table-layout: fixed;
        height: 60px;
        width: auto;
        width: 100%;
        cursor: pointer;
        display: table;
        table-layout: fixed;
        height: 60px;
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
        text-align: center; }
        .page-wrap .rate-card-dropdowns-div .dropdown .select-span .text-div {
          display: table-cell;
          vertical-align: middle;
          width: calc(100% - 50px);
          text-align: left;
          display: table-cell;
          vertical-align: middle;
          width: calc(100% - 50px);
          text-align: left;
          width: auto;
          width: calc(100% - 20px);
          text-overflow: initial;
          overflow: hidden;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          -ms-text-overflow: ellipsis; }
          .page-wrap .rate-card-dropdowns-div .dropdown .select-span .text-div .value {
            display: none !important; }
        .page-wrap .rate-card-dropdowns-div .dropdown .select-span .i-span {
          display: table-cell;
          vertical-align: middle;
          width: 12px;
          top: -2px;
          left: -10px;
          display: table-cell;
          vertical-align: middle;
          width: 12px;
          left: 5px; }
      .page-wrap .rate-card-dropdowns-div .dropdown .i-open {
        position: relative;
        -ms-transform: translate(-6px, 0);
        -webkit-transform: translate(-6px, 0);
        -moz-transform: translate(-6px, 0);
        -o-transform: translate(-6px, 0);
        transform: translate(-6px, 0); }
        .page-wrap .rate-card-dropdowns-div .dropdown .i-open:before, .page-wrap .rate-card-dropdowns-div .dropdown .i-open:after {
          content: "";
          position: absolute;
          background-color: #555;
          width: 3px;
          height: 9px; }
        .page-wrap .rate-card-dropdowns-div .dropdown .i-open:before {
          -ms-transform: translate(-2px, 0) rotate(45deg);
          -webkit-transform: translate(-2px, 0) rotate(45deg);
          -moz-transform: translate(-2px, 0) rotate(45deg);
          -o-transform: translate(-2px, 0) rotate(45deg);
          transform: translate(-2px, 0) rotate(45deg); }
        .page-wrap .rate-card-dropdowns-div .dropdown .i-open:after {
          -ms-transform: translate(2px, 0) rotate(-45deg);
          -webkit-transform: translate(2px, 0) rotate(-45deg);
          -moz-transform: translate(2px, 0) rotate(-45deg);
          -o-transform: translate(2px, 0) rotate(-45deg);
          transform: translate(2px, 0) rotate(-45deg); }
      .page-wrap .rate-card-dropdowns-div .dropdown .i-close {
        position: relative;
        -ms-transform: translate(-6px, 0);
        -webkit-transform: translate(-6px, 0);
        -moz-transform: translate(-6px, 0);
        -o-transform: translate(-6px, 0);
        transform: translate(-6px, 0); }
        .page-wrap .rate-card-dropdowns-div .dropdown .i-close:before, .page-wrap .rate-card-dropdowns-div .dropdown .i-close:after {
          content: "";
          position: absolute;
          background-color: #555;
          width: 3px;
          height: 9px; }
        .page-wrap .rate-card-dropdowns-div .dropdown .i-close:before {
          -ms-transform: translate(2px, 0) rotate(45deg);
          -webkit-transform: translate(2px, 0) rotate(45deg);
          -moz-transform: translate(2px, 0) rotate(45deg);
          -o-transform: translate(2px, 0) rotate(45deg);
          transform: translate(2px, 0) rotate(45deg); }
        .page-wrap .rate-card-dropdowns-div .dropdown .i-close:after {
          -ms-transform: translate(-2px, 0) rotate(-45deg);
          -webkit-transform: translate(-2px, 0) rotate(-45deg);
          -moz-transform: translate(-2px, 0) rotate(-45deg);
          -o-transform: translate(-2px, 0) rotate(-45deg);
          transform: translate(-2px, 0) rotate(-45deg); }
      .page-wrap .rate-card-dropdowns-div .dropdown .dd ul, .page-wrap .rate-card-dropdowns-div .dropdown .dropdown1 .dd ul {
        display: none;
        left: 0px;
        position: absolute;
        width: calc(50% - 1px);
        padding: 0;
        height: 200px;
        list-style: none;
        font-size: 14px;
        font-weight: 400;
        z-index: 2;
        background: #fff;
        margin: 0;
        border: 1px solid #ccc;
        overflow-y: scroll; }
        .page-wrap .rate-card-dropdowns-div .dropdown .dd ul li, .page-wrap .rate-card-dropdowns-div .dropdown .dropdown1 .dd ul li {
          text-align: left; }
      .page-wrap .rate-card-dropdowns-div .dropdown .dropdown-item {
        width: auto;
        padding-left: 10px;
        margin-bottom: 10px;
        font-family: 'BloggerSans';
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.9;
        font-weight: 400;
        color: #555;
        text-transform: capitalize;
        cursor: pointer; }
        .page-wrap .rate-card-dropdowns-div .dropdown .dropdown-item .value {
          display: none !important; }
        .page-wrap .rate-card-dropdowns-div .dropdown .dropdown-item .i-span {
          display: none !important; }
    .page-wrap .rate-card-dropdowns-div .dropdown-city .dd ul, .page-wrap .rate-card-dropdowns-div .dropdown1 .dd ul {
      left: auto;
      right: 0; }
  .page-wrap .rate-card {
    padding: 20px 5.5%;
    font-family: 'BloggerSans';
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: #777;
    background: #fff; }
    .page-wrap .rate-card li {
      list-style-type: none; }
      .page-wrap .rate-card li .amount {
        color: #009688; }

/*# sourceMappingURL=style.css.map */


/*   pop up style  */

.inner-bg {
    padding: 0px 0 0px 0;
}

.inner-bg h1{
	margin: 16px 0 20px 0;
}

.close{
	position: relative;
    top: 31px;
    right: 25px;
    z-index: 1000;
	opacity: 1;
	text-shadow: none;
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #19b9e7; }

.form-box {
	margin-top: 0px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #f3f3f3;
	-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #BE9145;
}

.social-login {
	margin-top: 35px;
}

.social-login-buttons {
	margin-top: 25px;
}

.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #ddd;
}

a {
    text-decoration: none !important;
}
