<!DOCTYPE html>

<html>
<head>
<title>BerryCo-We Brew Solutions, Not Just Coffee.</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="apple-touch-icon" sizes="180x180" href="/website/fevicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/website/fevicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/website/fevicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/website/fevicon/manifest.json">
<link rel="mask-icon" href="/website/fevicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/website/fevicon/favicon.ico">
<meta name="msapplication-config" content="/website/fevicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link href="/website/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">


<div class="row100 bgded" style="background-image:url('/website/images/demo/backgrounds/03.jpg');">
  
  
  <div class="overlay"> 
      

	
	<div class="wrapper">
      <header id="header" class="clear"> 
       
        <div id="logo" class="fl_left">
         <h1><a href="{{URL::Route('WebIndex')}}"><img src="/website/images/demo/logo.png" alt="logo"</a></h1>
        </div>
		
		 
        <div id="qct" class="fl_right">
          <ul class="nospace inline pushright">
            <li><i class="fa fa-phone"></i><span> +91 (886) 122 1284 / (966) 373 0974</span></li> &nbsp;
			
            <li><i class="fa fa-envelope-o"></i> <a href="mailto:mail@berryco.info">mail@berryco.info</a></li>
          </ul>
        </div>
        
      </header>
    </div>
  
    <div class="wrapper padbot">
      <nav id="mainav">
        <ul class="clear">
          <li class="active"><a href="{{URL::Route('WebIndex')}}">&nbsp;Home&nbsp;</a></li>
		  
          <li><a  href="{{URL::Route('WebAbout')}}">&nbsp;About Us&nbsp;</a></li>
		<li><a  href="/website/pages/equipment.html">Coffee Brewers<sup style="color:red;font-size:7pt;">New</sup>	</a>
           
          </li>
          <li><a class="drop" href="{{URL::Route('WebService')}}">&nbsp;Services&nbsp;</a>
            <ul>
              <li><a href="{{URL::Route('WebService')}}#at_estate">At Estate</a></li>
              
              <li><a href="{{URL::Route('WebService')}}#quality">Quality Assurance</a></li>
              <li><a href="{{URL::Route('WebService')}}#roaster">For Roasters</a></li>
			  <li><a href="{{URL::Route('WebService')}}#training">Barista and Training</a></li>
			  <li><a href="{{URL::Route('WebService')}}#Business">Business Development and entrepreneurship</a></li>
            </ul>
          </li>
          <li><a href="{{URL::Route('WebBlog')}}">&nbsp;Blog&nbsp;</a></li>
		      <li><a href="{{URL::Route('WebFaq')}}">&nbsp;FAQ&nbsp;</a></li>
              <li><a href="{{URL::Route('WebWeare')}}">&nbsp;Who we are?&nbsp;</a></li>
          
		  <li><a href="{{URL::Route('WebQur')}}">&nbsp;Queries?&nbsp;</a></li>
		  
        </ul>
      </nav>
    </div>
   
    <div class="wrapper">
      <article id="pageintro" class="capitalise clear"> 
      
        <p class="heading">We Brew Solutions, Not Just Coffee.</p>
        <p><a class="btn bold" href="{{URL::Route('WebAbout')}}">Get Started <i class="fa fa-arrow-right"></i></a></p>
       
      </article>
    </div>
   
  </div>
</div>

<div class="wrapper row2">
  <div id="elements" class="clear"> 
   
    <article class="one_third first">
      <h2> BerryCo envisions itself to be the foremost principled and authentic leaders in customer business development. </h2>
    </article>
    <article class="one_third">
      <h2>BerryCo ensures to facilitate to establish client objectives and goals on foolproof analysis and strategic solutions. </h2>
      </article>
    <article class="one_third">
      <h2>Quality can be defined as "The degree of excellance of something " And BerryCo is epitome for quality, so you can trust us. </h2>
      </article>
    
  </div>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5651e9247185dc7f" async="async"></script>
<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body --> 
    
    <div class="group">
      <div class="one_half first"> 
       
        <article class="featured">
          <div class="ft-text">
            <h2 class="uppercase bold">BerryCo Service is at the best. </h2>
            <p class="btmspace-30">BerryCo aims to be the "zeus of coffee solutions". Our values  include being authentic and trustworthy and maintaining quality and consistency . </p>
			<p class="btmspace-30"><b>We would like to boast of the fact that BerryCo is one of the few full services. Coffee consultancy firms in India.</b></p>
            <p class="nospace"><a class="btn" href="{{URL::Route('WebService')}}">Find out<i class="fa fa-arrow-right"></i></a></p>
          </div>
          <figure><img src="/website/images/demo/cup.jpg" alt="">
         
          <!--  <figcaption>Have Fun</figcaption> -->
          </figure>
        </article>
       
      </div>
      <div class="one_half center"> 
        
        <article class="btmspace-50"><em>01/11/2015</em>
          <h2 class="uppercase">CUP OF JOY</h2>
          <p> Someone has very rightly said…Coffee is nothing but a hug in a mug. A cup of coffee shared with a friend or a loved one is always happiness shared and time very well spent. Who doesn’t love to wrap their hands around a cup of coffee and swallow it... whether it’s a cold Monday morning or a silent yawn, to pull up your socks and start working or to just relax? Who doesn’t reach for one.<a href="{{URL::Route('WebBlog')}}"> Know more..</a></p>
          
          
        </article>
        
        <hr class="btmspace-50">
        
		<article class="btmspace-50"><em>01/11/2015</em>
          <h2 class="uppercase">In process</h2>
		  <font size="200"> <i class="fa fa-cog fa-spin"></i></font>
          <p> We are making something interesting .<b>"COMING SOON" </b> </p>
          
          
        </article>
      
      </div>
    </div>
    
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<div class="wrapper row100 bgded" style="background-image:url('/website/images/demo/backgrounds/02.jpg');">
  <div class="overlay">
    <article id="shout" class="capitalise clear"> 
     
      <h2 class="heading"><font size="20" >Welcome to BerryCo Services.</font> </h2>
      <p><strong><a href="#"></a></strong></p>
       
    </article>
  </div>
</div>

<div class="wrapper row3">
  <div id="newsletter" class="clear center"> 
    
    <p class="nospace btmspace-15">Sign up now to our newsletter and you'll be one to know about whats happening in and around coffee.</p>
    <h2 class="uppercase btmspace-50">Subscribe to our newsletter</h2>
    <form class="inline clear" method="post" action="php/subscribe.php">
      <input type="text" value="" placeholder="Name" name="name">
      <input type="text" value="" placeholder="Email" name="email">
      <button type="submit" title="Submit">Submit <i class="fa fa-arrow-right"></i></button>
    </form>
    
  </div>
</div>

<div class="wrapper row4">
  <footer id="footer" class="clear"> 
   
    <div class="one_quarter first">
      <h6 class="title">Company Details</h6>
      <address class="btmspace-15">
      #1, Bhadrappa Layout,1st Main,1st cross, <br>
	 Kodigehalli Main Road,<br>
	 Near Big Bazar<br>
     Bangalore-560094<br/>
	 India
      </address>
      <ul class="nospace">
        <li class="btmspace-10"><span class="fa fa-phone"></span>+91 (886) 122 1284</li>
		<li class="btmspace-10"><span class="fa fa-phone"></span>+91 (966) 373 0974</li>
        <li><span class="fa fa-envelope-o"></span> mail@berryco.info</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">From The Blog</h6>
      <article>
        <h2 class="nospace font-x1"><a href="#">CUP OF JOY</a></h2>
        <time class="smallfont" datetime="2045-04-06">Monday, 23<sup>rd</sup> November 2015</time>
        <p> Someone has very rightly said…Coffee is nothing but a hug in a mug. A cup of coffee shared with a friend or a loved one is always happiness shared and time very well spent...</p>
      </article>
    </div>
    
	<div class="one_quarter">
      <h6 class="title">Our belief</h6>
      <p>We believe that quality is the only undying method of building trust and retaining customer. </p>
      <p>When you change the way you look at things, the things you look at will change-Wayne Dyer </p>
    </div>
	
	
    <div class="one_quarter">
      <h6 class="title">Our Service</h6>
      <p>We at BerryCo believe coffee is more then just a drink and would rediscover the value around your coffee. </p>
      <p>Drown your troubles in us and we develop strategic solutions and guidance on the path to success.</p>
    </div>
     
	   
  </footer>
</div>
 <div>
	<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> </div>

<div class="wrapper">
  <div id="socialblock" class="clear"> 
   
    <ul class="faico clear">
      <li><a class="faicon-facebook" href="https://www.facebook.com/BerryCo-506568626176433/"><i class="fa fa-facebook"></i></a></li>
      <li><a class="faicon-twitter" href="https://twitter.com/BerryCocoffee"><i class="fa fa-twitter"></i></a></li>
      <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a class="faicon-google-plus" href="https://plus.google.com/u/0/104255358066214176181/about"><i class="fa fa-google-plus"></i></a></li>
	  <!-- TODO-COPY--> 
      <li><a class="faicon-rss" href="https://www.addtoany.com/share?linkurl=www.berryco.info&amp;linkname="><i class="fa fa-share-alt"></i></a></li>
<!-- AddToAny BEGIN -->
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.linkurl = "www.berryco.info";
a2a_config.onclick = 1;
</script>
<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
	  
    </ul>
	
    
  </div>
</div>
 
<div class="wrapper row5">
  <div id="copyright" class="clear"> 
   
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="www.berryco.coffee">www.berryco.info</a></p>
  

  </div>
</div>

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> 
<!-- JAVASCRIPTS --> 
<script src="/website/layout/scripts/jquery.min.js"></script> 
<script src="/website/layout/scripts/jquery.backtotop.js"></script> 
<script src="/website/layout/scripts/jquery.mobilemenu.js"></script> 
<!-- IE9 Placeholder Support --> 
<script src="/website/layout/scripts/jquery.placeholder.min.js"></script> 
<!-- / IE9 Placeholder Support -->
</body>
</html>